
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: "Montserrat", sans-serif;
}

* {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	border:1px ;
	box-sizing: border-box;

}

#app {
	font-family: "Montserrat", sans-serif;
  color: white;
}

.chat-window {
  position: absolute;
  top: 2.5%;
  left: 1%;
  width: 22%;
  height: 20%;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.0);
  text-shadow: 0 0 3px black;
}

.messagebox{
  padding: 0px;
  margin-bottom: 0px;
  width: fit-content;
}

.message {
  color: white;
}

.me_box {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 0.7vw;
  background-color: #000000d6;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.500);
  color: white;
  padding: .3vw .4vw;
  border-radius: .2vw;
  margin-top: 1%;
  margin-bottom: 1%;
  animation: animchat .4s forwards;
}

.me_box .barra_me {
  height: 20px;
  width: 5px;
  margin-right: .4vw;
  border-radius: 8px;
  background-color: rgb(208, 34, 34);
  box-shadow: 0 0 4px rgb(208, 34, 34);
}

.do_box {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 0.7vw;
  background-color: #000000d6;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.500);
  color: white;
  padding: .3vw .4vw;
  border-radius: .2vw;
  margin-top: 1%;
  margin-bottom: 1%;
  animation: animchat .4s forwards;
}

.do_box .barra_do {
  height: 20px;
  width: 5px;
  margin-right: .4vw;
  border-radius: 8px;
  background-color: rgb(42, 93, 204);
  box-shadow: 0 0 4px rgb(42, 93, 204);
}

.oop_box {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 0.7vw;
  background-color: #000000d6;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.500);
  color: white;
  padding: .3vw .4vw;
  border-radius: .2vw;
  margin-top: 1%;
  margin-bottom: 1%;
  animation: animchat .4s forwards;
}

.oop_box .barra_oop {
  height: 20px;
  width: 5px;
  margin-right: .4vw;
  border-radius: 8px;
  background-color: rgb(54, 54, 54);
  box-shadow: 0 0 4px rgb(54, 54, 54);
}

.pid_box {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 0.7vw;
  background-color: #000000d6;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.500);
  color: white;
  padding: .3vw .4vw;
  border-radius: .2vw;
  margin-top: 1%;
  margin-bottom: 1%;
  animation: animchat .4s forwards;
}

.pid_box .barra_pid {
  height: 20px;
  width: 5px;
  margin-right: .4vw;
  border-radius: 8px;
  background-color: rgb(30, 158, 141);
  box-shadow: 0 0 4px rgb(30, 158, 141);
}

.dados_box {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 0.7vw;
  background-color: #000000d6;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.500);
  color: white;
  padding: .3vw .4vw;
  border-radius: .2vw;
  margin-top: 1%;
  margin-bottom: 1%;
  animation: animchat .4s forwards;
}

.dados_box .barra_dados {
  height: 20px;
  width: 5px;
  margin-right: .4vw;
  border-radius: 8px;
  background-color: rgb(218, 221, 31);
  box-shadow: 0 0 4px rgb(218, 221, 31);
}

.chat-messages {
	font-family: "Montserrat", sans-serif;
  position: relative;
  height: 120%;
  font-size: 1.30vh;
  margin: 0.2%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: .2vw;
}

.chat-input {
	font-family: "Montserrat", sans-serif;
  font-size: 1.40vh;
  position: absolute;
  border-radius: 5px; 
  top: 30%;
  left: 0.7%;
  width: 38%;
  max-width: 1000px;
  box-sizing: border-box;
}

.prefix {
	font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2vh;
  position: absolute;
  margin-top: 1.1%;
  margin-left: .5%;
  left: 0.208%;
}

textarea {
	font-family: "Montserrat", sans-serif;
  font-size: 1.3vh;
  box-sizing: border-box;
  padding: 1%;
  padding-left: 3.8%;
  color: white;
  text-shadow: 1px 0.5px 1px black;
  letter-spacing: 4px;
  border-radius: 0.15vw;
  box-shadow: 0 0 5px black;
  background: rgba(0, 0, 0, 0.74);
  width: 55%;
  height: 21.04%;
  resize: none;
  overflow: hidden;
  animation: animarea .2s;
  letter-spacing: 1px;
}

#chat-icon{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 1.20vh;
  margin-top: 1%;
  left: 1%;
  animation: animarea .4s;
}

textarea:focus, input:focus {
    outline: none;
}

.multiline {
	font-family: "Montserrat", sans-serif;
  white-space: pre-line;
}

.suggestions {
	font-family: "Montserrat", sans-serif;
  list-style-type: none;
  padding: 10px;
  margin-top : .2vw;
  font-size: 1.1vh;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
  border: 1px solid rgba(0, 0, 0, 0.459);
  background: rgba(0, 0, 0, 0.74);
  width: 55%;
  overflow: hidden;
  animation: animsug .4s forwards;
  letter-spacing: .5px;
}

.suggestion {
  margin-bottom: 0.5%;
  background-color: rgba(150, 150, 150, 0);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 4px black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  width: fit-content;
  padding: .2vw .2vw;
  border-radius: .3vw;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.hidden {
  display: none;
}

@keyframes animchat {
  0%{
      opacity: 0;
      transform: translateX(10vw);
  }
}

@keyframes animarea {
  0%{
      opacity: 0;
      transform: translateY(2vw);
  }
}

@keyframes animsug {
  0%{
    opacity: 0;
    transform: translateY(5vw);
}
}
